:root {
  --c1: #100d05;
  --c2: #2b2a2a;
  --c3: #383535;
  --c4: #747474;
  --c5: #edb9b9;
  --w: #fff;
}

* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}


body, h1, h2, h3, p, a, ul, li, img {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
}

@media (max-width: 450px) {
  .container {
    padding: 1rem;
  }
}

@keyframes showRight {
  from {
    opacity: 0;
    transform: translate3d(-150px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes showLeft {
  from {
    opacity: 0;
    transform: translate3d(150px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}